.AdminFilter {
  background-color: #712020c9;
  padding: 1rem 3rem;
  border-radius: 20px;
  width: 60%;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}

.AdminFilterBtn {
  cursor: pointer;
  margin: 0.4rem 0.4rem;
  text-decoration: none;
  color: aliceblue;
  background-color: #ff4b2b;
  border-radius: 20px;
  padding: 1rem;
  font-weight: 500;
  display: inline-block;
}
